@model IEnumerable<MovieDay>

<div class="p-3">

        <div class="d-flex justify-content-between">
        <h1>Movie Day</h1>

        @if (User.Identity is not null && !User.IsInRole(SD.Employee))
        {
            <p>
                <a asp-area="Admin" asp-controller="Movie" asp-action="Index" class="btn btn-primary">Add</a>
            </p>
        }
    
        </div>

    <div class="table-responsive">
        <table id="CinemaTable" class="table table-striped  table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th width="20%">
                        Movie
                    </th>
                    <th width="10%">
                        Day
                    </th>
                    <th width="10%">
                        Date
                    </th>
                    <th width="10%">
                        From
                    </th>
                    <th width="10%">
                        To
                    </th>
                    <th width="15%">
                        Minutes after movie
                    </th>
                    @if (User.Identity is not null && !User.IsInRole(SD.Employee))
                    {
                        <th width="10%">Actions</th>
                    }
                 
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Movie.Name
                        </td>
                        <td>
                            @item.Day.Name
                        </td>
                   
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @item.From
                        </td>
                        <td>
                            @item.To
                        </td>
                        <td>
                            @item.MinutesRestAfterMovie
                        </td>
                        @if (User.Identity is not null && !User.IsInRole(SD.Employee))
                        {
                            <td>
                                <a asp-action="Assign" asp-route-id="@item.Id" asp-route-actionType="2" class="btn btn-sm btn-info">Edit</a> |
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="@item.Id" data-name="@item.Movie.Name">Delete </button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
