@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Movies";
}

<div class="p-3">

    <div class="d-flex justify-content-between">
        <h1>Movies</h1>


        @if (User.Identity is not null && !User.IsInRole(SD.Employee))
        {
            <p>
                <a asp-action="Save" class="btn btn-primary">Add</a>
            </p>
        }

    </div>

    <div class="table-responsive">
        <table id="categoryTable" class="table table-striped  table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th width="70%">
                        Name
                    </th>
                    <th width="10%">
                        Status
                    </th>
                    @if (User.Identity is not null && !User.IsInRole(SD.Employee))
                    {
                        <th width="20%">Actions</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.MovieDisplayState.Status
                        </td>
                        @if (User.Identity is not null && !User.IsInRole(SD.Employee))
                        {
                            <td>
                                <a asp-action="Save" asp-route-id="@item.Id" class="btn btn-sm btn-info">Edit</a> |
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="@item.Id" data-name="@(item.Name)">Delete </button>

                                @if(item.MovieDisplayState.Id != (int)Global.MovieStatus.Expired)
                                {
                                    <a class="btn btn-sm btn-success" asp-action="Assign" asp-controller="MovieDay" asp-area="Admin" asp-route-id="@item.Id" asp-route-actionType="1">Assign</a>
                                }
                            </td>
                        }
                     
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
        
<partial name="Delete" />

@section Scripts {
    <script>
            $('#confirmDeleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);

                var categoryId = button.data('id');
                var categoryName = button.data('name');

                $(this).find('#categoryName').text(categoryName);
                $(this).find('#categoryIdToDelete').val(categoryId);
            });

            $('#confirmDeleteButton').on('click', function () {
                $('#deleteCategoryForm').submit();
            });
    </script>
}